[Unit]
Description=Streamdeck management
PartOf=xorg.target wayland.target

[Service]
Type=simple
ExecStart=streamcontroller -b
Restart=on-failure

[Install]
WantedBy=xorg.target wayland.target
