[Unit]
Description=Sync local calcurse appointments with remote Google Calendar events

[Service]
Type=oneshot
ExecStart=%h/.local/bin/gcal-sync

[Install]
WantedBy=default.target
