button {
    all: unset;
    margin: 0;
    padding: 0;
}

menu {
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.7em;
    border-radius: 0.5em;
    outline-width: 0;
    border-width: 0;
    padding: 0;
}
menuitem {
    color: rgb(255, 255, 255);
    padding: 2px;
}
menu menuitem:first-child {
    border-radius: 0.5em 0.5em 0 0;
}
menu menuitem:last-child {
    border-radius: 0 0 0.5em 0.5em;
}
menuitem.active:hover,
menuitem:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
}
menuitem.active {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
}

tooltip {
    all: unset;
    border-radius: 1em;
    background: rgba(212, 212, 212, 0.65);
    font-size: 0.7em;
    padding: 4px;
    margin: 5px;
}

tooltip * {
    color: #111111;
    padding: 0;
    margin: 0;
}

.accent {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    min-height: 2em;
}
.accent * {
    min-height: 2em;
}

.bar .left,
.bar .right {
    margin: 4px 8px 8px;
    padding: 1px 4px;
    border-radius: 1.2em;
    background-color: rgba(0, 0, 0, 0.4);
}

.bar .left {
    font-size: 1.0em;
    min-height: 1.5em;
    padding: 2px;
}

.bar .right {
    font-size: 0.8em;
    padding: 1px 8px;
}

.workspaces {
    padding: 1px 4px;
}

.ws-button {
    font-size: 1.1em;
    font-family: "Hack Nerd Font Mono";
    min-width: 1.1em;
    border-radius: 4em;
    margin: 2px;
    padding: 0 0.1em;
    background-color: rgba(122, 122, 122, 0.6);
    color: #999999;
    transition-timing-function: linear;
}

.workspaces .ws-button.monitor-1:first-child,
.workspaces .ws-button.monitor-2:first-child,
.workspaces .ws-button.monitor-3:first-child,
.workspaces .ws-button.monitor-4:first-child {
    margin-left: 12px;
}
.ws-button:hover,
.ws-button.occupied {
    background-color: rgba(100, 100, 100, 1.0);
    color: #FFFFFF;
}
.ws-button.occupied:hover {
    background-color: rgba(150, 150, 150, 1.0);
}
.ws-button.visible.occupied,
.ws-button.visible {
    background-color: rgba(200, 200, 200, 1.0);
    color: #000000;
}
.ws-button.focused {
    background-color: rgba(34, 204, 221, 0.6);
    color: #000000;
}
.ws-button.focused:hover,
.ws-button.visible.occupied:hover,
.ws-button.visible:hover {
    background-color: rgba(34, 204, 221, 1.0);
    color: #000000;
}

.right .clock {
    font-family: monospace;
    padding: 0 0.4em;
    letter-spacing: -0.1em;
    margin: 0.4em 0 0.4em 0.2em;
    border-radius: 1em;
}

.right .tray button {
    margin: 0 0.25em;
}
.right .tray {
    padding-left: 0.3em;
}

.right .icons {
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 3em;
    min-width: 1.2em;
    margin: 0.3em 0 0.2em 0.6em;
    padding: 0 0.5em;
    font-size: 1.2em;
}

.icon.network label {
    font-size: 1.7em;
    margin: -0.3em 0;
}
.icon.network .badge {
    font-size: 5px;
    margin: 10px 0 0 10px;
}

.icon.cpu label,
.icon.memory label,
.icon.teatimer label,
.icon.mpris label {
    font-size: 1.5em;
    margin: -0.3em 0;
}
.mpris-select menuitem {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.icon.mpris label.not-playing {
    color: rgb(153, 153, 153);
}

.popup > box {
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 15px;
    padding: 8px;
    margin: 5px 10px;
}

menu.audio-select menuitem.active,
menu.audio-select menuitem:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
}
.popup.audio box {
    min-width: 12em;
}
.popup.audio label {
    font-size: 0.7em;
}
.popup.audio label.header {
    opacity: 0.6;
    font-size: 0.6em;
    border-bottom: 1px solid @theme_fg_color;
    margin: 0 1.5em;
}
.popup.audio scale {
    padding: 0;
    margin-bottom: .3em;
}
.popup.audio scale trough {
    min-height: 8px;
}
.popup.audio scale highlight {
    background-color: @theme_fg_color;
}
.popup.audio scale slider {
    all: unset;
}
.popup.audio .audio-slider {
    padding: 0.4em 0.2em;
}
.popup.audio .audio-slider.app {
    padding-left: 0.4em;
}
.popup.audio button {
    background-color: rgba(128, 128, 128, 0.2);
    color: rgba(255, 255, 255, 0.5);
    min-width: 1.8em;
    border-radius: 3px;
    margin-right: 0.1em;
}
.popup.audio button:hover,
.popup.audio button.active {
    background-color: rgba(128, 128, 128, 0.8);
    color: rgba(255, 255, 255, 1.0);
}

.popup.mpris > box {
    min-width: 22em;
    font-size: 0.8em;
}
.popup.mpris .cover-art {
    min-width: 72px;
    min-height: 72px;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin-right: 1em;
}
.popup.mpris .title {
    font-size: 1.2em;
    margin-left: -5px;
}
.popup.mpris .artist {
    font-size: 1.1em;
    color: @insensitive_fg_color;
}
.popup.mpris button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
    margin-top: .2em;
    font-size: 1.3em;
    border-radius: 6px;
}
.popup.mpris button icon {
    font-size: 2em;
    min-height: 2em;
}
.popup.mpris button:hover {
    background: rgba(185, 185, 185, 0.2);
}
.popup.mpris button.play-pause {
    margin: 0 .6em;
}

.icon.bluetooth label {
    color: rgb(153, 153, 153);
}
.icon.bluetooth label.enabled {
    color: rgb(255, 255, 255);
}
.icon.bluetooth label.enabled.connected {
    color: rgb(85, 170, 255);
}

.popup.bluetooth box button {
    border-radius: 5px;
    background-color: rgba(34, 34, 34, 0.05);
    margin: 0 1px;
    padding: 4px;
    font-size: 0.6em;
}
.popup.bluetooth button.connected,
.popup.bluetooth button:checked {
    background: rgba(120, 120, 120, 0.8);
}
.popup.bluetooth button:hover {
    background: rgba(185, 185, 185, 0.8);
    color: rgb(34, 34, 34);
}

.notifications {
    padding: 0 .5em;
}
.notification {
    min-width: 16em;
    background-color: rgba(120, 120, 120, 0.3);
    padding: 1em;
    border-radius: 0.75em;
    margin: .5em;
    color: #FEFEFE;
}
.notification .icon .image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.notification .icon,
.notification .icon box {
    min-width: 38px;
    min-height: 38px;
    font-size: 38px;
    padding: 0 10px 0 0;
}
.notification .summary {
    font-weight: bold;
    margin-bottom: 0.2em;
    margin-left: 0.1em;
}
.notification .body-text {
    font-size: 0.9em;
}
.notification .text {
    min-width: 12.5em;
    margin-left: -0.1em;
}
.notification .actions {
    min-height: 1px;
}
.notification .actions .action {
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 0.2em;
    border-width: 1px;
    border-color: #FFFFFF;
    margin: 0.4em 0.4em -0.4em;
    padding: 0.3em 0.6em;
}
.notification .actions .action:hover {
    background-color: rgba(200, 200, 200, 0.7);
}
.notification .actions .action:first-child {
    margin-left: 0;
}
.notification .actions .action:last-child {
    margin-right: 0;
}

.leveldot {
    margin: 0;
}
.icon.audio box.leveldot-container:nth-child(2) {
    margin-left: -0.3em;
    margin-right: -0.2em;
}

.leveldot label:nth-child(1) {
    color: rgb(102, 102, 102);
    letter-spacing: -4px;
}
.leveldot label:nth-child(2) {
    color: rgb(255, 0, 0);
}
.leveldot label:nth-child(3) {
    color: rgb(255, 102, 0);
}
.leveldot label:nth-child(4) {
    color: rgb(255, 255, 0);
}
.leveldot label:nth-child(5) {
    color: rgb(0, 255, 0);
}

#ags\.osd {
    background-color: transparent;
    font-size: 2em;
}

.osd {
    background-color: transparent;
    margin-bottom: 1.5em;
}
.osd box {
    border-radius: 1.1em;
    padding: 0.5em 1em;
    background-color: rgba(34, 34, 34, 0.6);
    color: #FFFFFF;
}
.osd levelbar,
.osd levelbar trough {
    background-color: transparent;
    border: 0;
    min-width: 8em;
}
.osd levelbar .filled {
    margin: 5px;
    min-height: 6px;
    background-color: rgba(255, 255, 255, 0.75);
}
.osd levelbar.muted .filled {
    background-color: rgba(34, 34, 34, 0.75);
}
.osd levelbar .empty {
    margin: 3px;
    background-color: rgba(125, 125, 125, 0.6);
}
.osd levelbar .empty,
.osd levelbar .filled {
    border-radius: 2em;
    border: 0;
}

.nag.teatimer {
    background-color: rgba(196, 196, 196, 0.6);
    color: rgb(0, 0, 0);
    border-radius: 1.1em;
}
.nag.teatimer box {
    padding: 2em 2em 1em;
}
.nag.teatimer box > label {
    font-size: 15em;
    margin: -0.4em 0.1em -0.3em;
    padding: 0;
}
.nag.teatimer button {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 0.2em;
    color: #FFFFFF;
}
.nag.teatimer button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
}

.popup.teatimer box {
    min-width: 12em;
}

.sidebar {
    background-color: transparent;
}
.sidebar > revealer .frame {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 0 0 10px;
    margin: 0 0 1em;
    min-width: 20em;
}

.sidebar .calendar-holder {
    margin: 0.5em 0 0.2em;
}
.sidebar .calendar {
    border: 0;
    padding: 0.8em;
    border-radius: 1em;
    background: rgba(66, 66, 66, 0.3);
    margin: 0.4em 0;
}
.sidebar .calendar .week button {
    margin: 0 0.1em;
    padding: 0 0.3em;
    color: rgba(255, 255, 255, 0.8);
}
.sidebar .calendar .week button.off-month {
    color: rgba(255, 255, 255, 0.4);
}
.sidebar .calendar .week button.off-month.weekend {
    background: transparent;
}
.sidebar .calendar .week button.weekend {
    background: rgba(66, 66, 66, 0.5);
}
.sidebar .calendar .week button.today,
.sidebar .calendar .week button.marked {
    color: rgba(255, 255, 255, 1.0);
    font-weight: bold;
}
.sidebar .calendar-holder .details {
    font-size: 0.8em;
    margin: 0 0.4em;
}

.sidebar .toggles {
    padding: 0.3em 1em;
}
.sidebar .toggles .toggle {
    padding: 0.1em 0.5em;
    border: 0.1em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.6em;
    color: rgba(155, 155, 155, 1.0);
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.5em;
}
.sidebar .toggles .toggle:hover,
.sidebar .toggles .toggle:checked:hover {
    color: rgba(0, 0, 0, 1.0);
    background-color: rgba(255, 255, 255, 0.8);
}
.sidebar .toggles .toggle:checked {
    color: rgba(0, 0, 0, 1.0);
    background-color: rgba(0, 185, 255, 0.8);
    border-color: rgba(0, 185, 255, 0.8);
}
.sidebar .notifications-history {
    margin-top: 0.5em;
}
