.mpris-select menuitem {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.icon.media label.not-playing {
    color: rgb(153, 153, 153);
}

.popup.mpris > box {
    min-width: 22em;
    font-size: 0.8em;
}
.popup.mpris .cover-art {
    min-width: 72px;
    min-height: 72px;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin-right: 1em;
}
.popup.mpris .title {
    font-size: 1.2em;
    margin-left: -5px;
}
.popup.mpris .artist {
    font-size: 1.1em;
    color: @insensitive_fg_color;
}
.popup.mpris button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
    margin-top: .2em;
    font-size: 1.3em;
    border-radius: 6px;
}
.popup.mpris button icon {
    font-size: 2em;
    min-height: 2em;
}
.popup.mpris button:hover {
    background: rgba(185, 185, 185, 0.2);
}
.popup.mpris button.play-pause {
    margin: 0 .6em;
}

.sidebar .mpris {
    padding: 0.2em 0.4em;
    margin: 0 0.5em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
}
.sidebar .mpris label {
    font-size: 0.7em;
    padding: 0.2em;
    color: rgba(255, 255, 255, 0.8);
}
