[Desktop Entry]
Type=Application
Name=Android Messages
GenericName=Containerized SMS Messaging
Comment=Containerized SMS Messaging
Exec=android-messages
Icon=android-messages-desktop
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=Messaging SMS Chat Text
