[Unit]
Description=maestral - Dropbox Daemon
PartOf=xorg.target

[Service]
ExecStart=%h/.local/maestral/bin/maestral gui
ExecReload=%h/.local/maestral/bin/maestral restart
ExecStop=%h/.local/maestral/bin/maestral stop
Restart=on-failure
RestartSec=30

[Install]
WantedBy=xorg.target wayland.target
