[Desktop Entry]
Type=Application
Name=Watch Video Stream
GenericName=Watch Streamed Video
Comment=Watch web video in clipboard
Exec=_clipboard-video
Icon=mpv
Terminal=false
