[Unit]
Description=xss-lock - session lock

[Service]
ExecStart=xss-lock -n /usr/lib/xsecurelock/dimmer -l -- %h/.local/bin/screenlock

[Install]
WantedBy=xorg.target
