[Desktop Entry]
Type=Application
Name=Lock Screen
GenericName=Activate user's screen lock
Exec=xset s activate
Icon=system-lock-screen
Terminal=false
