[Unit]
Description=xss-lock - session lock
PartOf=xorg.target

[Service]
Environment="XSECURELOCK_DIM_TIME_MS=150000"
ExecStart=xss-lock -n /usr/lib/xsecurelock/dimmer -l -- %h/.local/bin/_screenlock

[Install]
WantedBy=xorg.target
