button {
    all: unset;
    margin: 0;
    padding: 0;
}

menu {
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.7em;
    border-radius: 0.5em;
    outline-width: 0;
    border-width: 0;
    padding: 0;
}
menuitem {
    color: rgb(255, 255, 255);
    padding: 2px;
}
menu menuitem:first-child {
    border-radius: 0.5em 0.5em 0 0;
}
menu menuitem:last-child {
    border-radius: 0 0 0.5em 0.5em;
}
menuitem.active:hover,
menuitem:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
}
menuitem.active {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
}

tooltip {
    all: unset;
    border-radius: 1em;
    background: rgba(212, 212, 212, 0.65);
    font-size: 0.7em;
    padding: 4px;
    margin: 5px;
}

tooltip * {
    color: #111111;
    padding: 0;
    margin: 0;
}

.nag.teatimer {
    background-color: rgba(196, 196, 196, 0.6);
    color: rgb(0, 0, 0);
    border-radius: 1.1em;
}
.nag.teatimer box {
    padding: 2em 2em 1em;
}
.nag.teatimer box > label {
    font-size: 15em;
    margin: -0.4em 0.1em -0.3em;
    padding: 0;
}
.nag.teatimer button {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 0.2em;
    color: #FFFFFF;
}
.nag.teatimer button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
}

.popup.teatimer box {
    min-width: 12em;
}
