.sidebar-background {
    background-color: transparent;
}
.sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 0 0 10px;
    margin: 0 0 1em;
    min-width: 20em;
    padding: 1em 0;
}

.sidebar .toggles {
    padding: 0.3em 1em;
}
.sidebar .toggles .toggle {
    padding: 0 0.4em;
    border: 0.1em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.6em;
    color: rgba(155, 155, 155, 1.0);
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.7em;
}
.sidebar .toggles .toggle:hover,
.sidebar .toggles .toggle:checked:hover {
    color: rgba(0, 0, 0, 1.0);
    background-color: rgba(255, 255, 255, 0.8);
}
.sidebar .toggles .toggle:checked {
    color: rgba(0, 0, 0, 1.0);
    background-color: rgba(0, 185, 255, 0.8);
    border-color: rgba(0, 185, 255, 0.8);
}
