[Desktop Entry]
Name=Smart URL Opener
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=web-xdg-open
Icon=web-browser
Terminal=false
Type=Application
NoDisplay=true
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
